<%- include('partials/head') %>
  <body>
    <h1>This is the Homepage <%= 9+6 %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At quaerat
      doloremque, deleniti totam asperiores qui ab iusto molestias nulla eveniet
      quos rerum quidem provident vel tempora consectetur ipsum hic ex? Nihil,
      eos ad. Odio doloremque quos necessitatibus omnis accusamus, modi ad
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
      culpa dolores? Impedit unde delectus quos dicta quidem, tenetur, sed quas
      hic dolorum consequatur obcaecati laborum! Tempora ut soluta porro dolor!
    </p>
  </body>
</html>
